@import '../css/_nativedroid2.color.brand';
@import url("../fonts/ubuntu/ubuntu.css");

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$font-size-h1: 3.998em;
$font-size-h2: 2.827em;
$font-size-h3: 1.999em;
$font-size-h4: 1.414em;
$font-size-text: 1em;
$font-size-small: 0.707em;

$brand-green: #0A6B36;
$text-muted: #a3a3a3;

/* -------------------------------------------- Общие настройки ----------------------------------------------------- */
html {  }
body, input, select, textarea, button, .ui-btn,h1,h2,h3,h4,h5,h6 {
    font-family: ubuntu, "Helvetica Neue", sans-serif;
}
body {
    color: #333; font-size: 12px; font-weight: 400; line-height: 1.45;
    @media (min-width: $screen-sm-min) {
        font-size: 16px;
    }
}

p {
    font-size: inherit;
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 { font-size: $font-size-h1; margin-top: 0; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }


small, .font-small {font-size: $font-size-small; }

.ui-mobile label {
    font-size: 14px;
    strong { font-weight: 400; }
}

.ui-collapsible {
    h4 {
        a {
            color: inherit; font-size: inherit; text-transform: none;
            padding: .5rem 1rem;
            &:after { display: none; }
            i.zmdi {
                margin-left: 10px;
                -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
            }
        }
        &:not(.ui-collapsible-heading-collapsed) i.zmdi {
            -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); -o-transform: rotate(-180deg); transform: rotate(-180deg);
        }
    }
    .ui-collapsible-content { padding: 1px 1rem; min-height: 100px; }
    &.ui-collapsible-transparent {
        background: none;
        h4 a{
            padding: .3rem 1rem;
            &.ui-btn { background: none; }
        }
    }
}

// we can avoid [Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive.
// but cant scroll page down
// todo solve
// [data-role="nd2extTabs-container"] { touch-action: none; }


/* -------------------------------------------- Header -------------------------------------------------------------- */
.ui-header {
    .ui-title {
        margin: 0 72px;
        font-size: 18px; line-height: 1em;
        text-align: center;
        &.page-title-image {
            padding: 10px 0;
            height: 25px;
            img { height: 25px; }
        }
         a {
             color: #fff;
             text-decoration: none;
         }
    }
    & > .ui-btn {
        padding: .1em;
    }
}
/* -------------------------------------------- Заставка ------------------------------------------------------------ */
#_drupalgap_splash {
    background-image: linear-gradient(135deg, #0A6B36, #16B55E);
    #_drupalgap_splash_content img {
        display: inline-block;
        margin: auto 0;
    }
}

/* ------------------------------------------- ajax loader ---------------------------------------------------------- */
.ui-loader-default {
    opacity: 1;
    width: 6em; height: 6em;
    margin-left: -3em; margin-top: -3em;
}
.ui-loader {
    top: 10em;
    .ui-icon-loading {
        background: url(../images/loader.gif); background-size: cover; background-position: center;
        border-radius: 3em;
        width: 6em; height: 6em;
    }
}

/* -------------------------------------------- Домашняя страница --------------------------------------------------- */
#homepage {
    background-image: linear-gradient(135deg, #0A6B36, #16B55E);
    .router {
        text-align: center;
        .route {
            margin: 30px auto 0;
            a {
                color: #fff; text-decoration: none;
                display: block;
                width: 60%; max-width: 100px;
                margin: auto;
                div.waves-effect { border-radius: 50px; }
                @media (min-width: $screen-sm-min) {
                    max-width: 200px;
                    div.waves-effect { border-radius: 100px; }
                }
            }
        }
        .r-title {
            margin-top: 5px;
            @media (min-width: $screen-sm-min) { font-size: 1.2em; }
        }
    }
    .footer {
        margin-bottom: 1em;
        .row {
            justify-content: center;
            a.ui-btn {
                margin: 0 auto;
                width: 30px;
                @media (min-width: $screen-sm-min) { width: 50px; }
            }
        }
    }
}


/* -------------------------------------------- Категории ----------------------------------------------------------- */
#catalog {
    .c-item {
        color: #000; font-size: .9em; text-decoration: none;
        padding: 0 1em; margin-bottom: 1em;
        .c-bkg {
            position: relative;
            min-height: 100px;
        }
        .c-title {
            font-size: 1.2em;
            padding: .2em 0 .7em 0;
        }
        .c-icon {
            width: 50px; height: 50px;
            position: absolute; bottom: -25px; right: 30px;
        }
        &.ui-icon-carat-r:after { display: none; }
    }
}

/* -------------------------------------------- Каталог ------------------------------------------------------------- */
div[id^="products_"] {
    .p-item {
        color: #000; text-decoration: none;
        padding: 0 1em;
        &.ui-btn { margin-bottom: .5em; }
        .p-box {
            border: 1px solid #ddd;
            position: relative;
            min-height: 60px;
            margin-top: 30px;
            .p-image {
                position: absolute; top: -25px; left : 0;
                width: 90px; height: 90px;
            }
            p {
                color: #000; white-space: normal; text-align: justify;
                padding: 0 70px 0 90px;
            }
        }
        .p-title {
            //font-size: 1.2em;
            padding: .6em 0;
        }
        .p-icon {
            width: 50px; height: 50px;
            position: absolute; bottom: -25px; right: 20px;
        }
        &.ui-icon-carat-r:after { display: none; }
    }
}

/* -------------------------------------------- Общее для нод ------------------------------------------------------- */
.node-view {
    h2 {
        font-weight: 700;
        margin: 0 0 .5em 0;
    }
}
/* -------------------------------------------- Препарат ------------------------------------------------------------ */
.product {
    .p-price {
        background: #fff; border-radius: 4px;
        font-size: 1.3em; font-weight: 700; text-align: center;
        margin: 0 8px 0 8px; padding: .2em .5em;
    }
    .p-brief {
        background-color: #eee;
        font-size: .8em;
        padding: 1em; margin-top: 8%;
        .row {
            margin-bottom: .5em;
            div:first-child:not(.p-price) { text-align: right; }
        }
        @media (min-width: $screen-sm-min) {
            .row { margin-bottom: .8em; }
        }
    }
    .nd2Tabs {
        font-size: 1.4em; line-height: 1.8em;
        margin: 1em 0 0; padding: 0 1em;
        width: 100%; height: 1.8em;
        li {
            color: #000;font-size: inherit; font-weight: 700; line-height: inherit;
            padding: 0;
            &:not(:first-child) {
                margin-left: 1em;
            }
            &.nd2Tabs-active {
                color: inherit;
                &:after { display: none; }
            }
        }
    }
    .tabs-content {
        width: 100%;
        .nd2tab { min-height: 150px; }
        .p-description p { text-align: justify; }
    }
}


/* -------------------------------------------- Препараты в поле (список) ------------------------------------------- */
#atfield {
    .nd2-card {
        .footer {
            padding: 11px 8px 5px 8px;
        }
    }
}
/* -------------------------------------------- Препараты в поле ---------------------------------------------------- */
.atfield {
    .ui-collapsible h4 a { text-transform: uppercase; }
    img {
        border-radius: 5px;
        display: block;
        margin: 0 auto;
    }
    .atf-title {
        color: $brand-green; font-size: 1.2em;
        margin: 1em 0 1em;
    }
    .atf-comment {
        margin: 1em 0;
    }
    .atf-ho-title {
        font-size: .8em;
        margin: .5em 0;
        i {
            font-size: 16px;
            margin: 0 .3em .3em 0;
            float: left;
        }
    }
    .nd2Tabs {
        margin-left: 0;
        height: 2.3em;
        li {
            color: #333; line-height: initial;
            margin: 5px 1rem 5px 0;
            padding: 0 0 5px 0;
            div {
                line-height: 1.4em;
                &.r2 { color: $text-muted; font-size: $font-size-small; font-weight: 100; text-transform: none; }
            }
        }
    }
    .processings .nd2Tabs {
        height: 4.3em;
        li {
            font-weight: 400;
        }
    }
    .atf-info {
        dt {
            color: $brand-green; font-weight: 100;
            float: left;
            min-width: 0; width: 50%;
        }
        @supports (display: grid) {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: repeat(auto-fit, 20px);
            dd { margin: 0 0 0 1em; }
            dt { float: none; width: initial; }
        }
    }
    .atf-preparation {
        flex: 1 1 200px;
        text-align: center;
        span { color: $text-muted; font-size: 10px; }
        .atf-prep-images {
            display: flex;
            margin: 2em auto;
            .atf-prep { flex: 1 0 60%; }
            .atf-prep2 { flex: 1 0 40%; align-self: flex-end; }
        }
    }

}
/* -------------------------------------------- Афиша (список) ------------------------------------------------------ */
#agenda {
    .card-supporting-text{
        color: #fff; font-size: 1.1em;
    }
}

/* -------------------------------------------- Афиша --------------------------------------------------------------- */
.agenda {
    img { display: block; }
    .info {
        background: #f0f0f0;
        padding: .7em;
        .period { text-align: right; }
    }
}

/* -------------------------------------------- Представители ------------------------------------------------------- */
#representatives {
    ul {
        li:first-child { margin-top: 1em; }
    }
    .nd2-card {
      &.card-media-right .card-title .card-primary-title,
      &.card-media-right .card-title .card-subtitle {
        margin-right: 100px;
      }
      .card-supporting-text {
        font-size: $font-size-text;
        white-space: normal;
      }
      .card-action {
        a { font-size: .8em; }
        a:not(:last-child) { margin-bottom: .5em; }
      }
    }
}


/* -------------------------------------------- Агропомощь ---------------------------------------------------------- */
.field-name-field-image {
    display: inline-block;
    img {
        background-color: #ddd;
        border-radius: 40px;
        display: block!important;
        float: left;
        height: 80px;
        margin-right: 1.5em;
    }
    div[role="main"] & img { width: 80px!important;  }
    div {
        display: inline-block;
        margin-top: 1em;
        a {
            float: left;
            margin-right: 1em;
            &:last-child { margin-right: 0; }
        }
    }
}

/* -------------------------------------------- Разное -------------------------------------------------------------- */
/* патч, чтобы класс иконок можно было присваивать тегу <a> без вложенных тегов */
.zmdi {
    font-family: 'Material-Design-Iconic-Font'!important;
}

// карточки тизеров
.nd2-card {
    margin: 0 auto;
    .card-title {
        h3.card-primary-title { font-size: $font-size-h3; line-height: 1.2; }
        h4.card-primary-title { font-size: $font-size-h4; line-height: 1.2; }
        h5.card-subtitle {
            font-size: $font-size-text; line-height: 1.2; white-space: normal;
            margin-top: 5px;
        }
    }
    .card-supporting-text {
        font-size: $font-size-text; white-space: normal;
        h3 { font-size: $font-size-h3; }
        h4 { font-size: $font-size-h4; }
        a { text-decoration: none; }
    }
    &.card-media-right.card-media-small.file-card {
        .card-title {
            padding: 1em;
            //.card-primary-title {
            //    font-size: 14px; line-height: 18px;
            //    white-space: normal;
            //    margin-right: 50px;
            //}
            //.card-subtitle { font-size: 12px; }
        }
        .card-media { width: 40px; height: 40px; }
        .card-action { padding: 8px 1em; }
    }
}

// чтобы ширина псевдоэлемента :after (нижнее подчеркивание) не превышала род. элемент
.ui-input-text {
    position: relative;
}
// приведение к виду элемента textfield
.ui-input-search {
    padding-left: 0;
    &:after {
        background-image: none; // убрать значок лупы
        left: 0;
    }
}