@import '../css/_nativedroid2.color.brand';
@import url("../fonts/ubuntu/ubuntu.css");

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1300px;

$font-size-h1: 3.998em;
$font-size-h2: 2.3em;
$font-size-h3: 1.999em;
$font-size-h4: 1.414em;
$font-size-text: 1em;
$font-size-small: 0.8em;

$brand-green: #0A6B36;
$text-color: #333;
$text-muted: #a3a3a3;
$text-muted-2x: #ccc;

$brand-herbicides:      #E31E25;
$brand-insecticides:    #01A0E2;
$brand-desiccants:      #F29313;
$brand-fungicides:      #60497F;
$brand-disinfectants:   #A32275;
$brand-surfactants:     #9CC328;
$brand-fertilizers:     #089244;
$brand-mixes:           #334E91;

.ui-page-theme-a {
    .ui-btn.clr-btn-red,.ui-btn.clr-btn-red:hover { color: rgb(255,255,255); background-color: $brand-herbicides; }
    .ui-btn.clr-btn-blue,.ui-btn.clr-btn-blue:hover { color: rgb(255,255,255); background-color: $brand-insecticides; }
    .ui-btn.clr-btn-green,.ui-btn.clr-btn-green:hover { color: rgb(255,255,255); background-color: $brand-fertilizers; }
    .ui-btn.clr-btn-light-green,.ui-btn.clr-btn-light-green:hover { color: rgb(255,255,255); background-color: $brand-surfactants; }
    .ui-btn.clr-btn-orange,.ui-btn.clr-btn-orange:hover { color: rgb(255,255,255); background-color: $brand-desiccants; }
}

/* -------------------------------------------- Общие настройки ----------------------------------------------------- */
html {
    font-size: 12px;
    @media (min-width: $screen-sm-min) { font-size: 14px; }
    @media (min-width: $screen-md-min) { font-size: 16px; }
    @media (min-width: $screen-lg-min) { font-size: 22px; }
}
body, input, select, textarea, button, .ui-btn,h1,h2,h3,h4,h5,h6 {
    font-family: ubuntu, "Helvetica Neue", sans-serif;
}
body {
    color: $text-color; font-weight: 400; line-height: 1.45;
    font-size: inherit;
}

p {
    font-size: inherit;
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 { font-size: $font-size-h1; margin-top: 0; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }

div > h3:first-child,
form > h3:first-child { margin-top: 0; }

small, .font-small {
    font-size: $font-size-small;
    line-height: 1.4em;
}


ul.clear-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ui-btn { font-size: inherit; }

.ui-mobile label {
    font-size: 14px;
    strong { font-weight: 400; }
}

.ui-collapsible {
    &:not([class*="col-"]) { margin: 0; }
    h4 {
        a {
            &.ui-btn,
            &.ui-btn:hover,
            &.ui-btn:focus { background: none; }
            color: inherit; font-size: inherit; text-transform: none;
            padding: .5rem 1rem;
            &:after { display: none; }
            i.zmdi {
                margin-left: 10px;
                -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
            }
        }
        &:not(.ui-collapsible-heading-collapsed) i.zmdi {
            -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); -o-transform: rotate(-180deg); transform: rotate(-180deg);
        }
    }
    .ui-collapsible-content { padding: 1px 1rem 1rem; }
    &.ui-collapsible-transparent {
        background: none;
        h4 a {
            padding: .2rem 0;
            &.ui-btn {
                background: none;
                color: inherit; font-weight: 400;
                white-space: normal;
                padding-right: 25px;
            }
        }
        .ui-collapsible-content { padding: 0; }
    }
}

// разворачиваемые списки
.list-item.ui-collapsible {
    background: none;
    h4 a {
        font-weight: 400;
        padding: 0;
        &.ui-btn:active,
        &.ui-btn:focus {
            background: none;
        }
    }
    .ui-collapsible-content {
        padding: 0 0 1.5em;
        .product-item { padding: 0; }
    }
}

// вместе с изменением поведения попапа при расчёты высоты
// вмещаем его в текущий экран
.ui-popup-container {
    font-size: 1.3em;
    border-radius: 5px;
    overflow: hidden;
    &::after {
        content: '';
        display: block;
        position: absolute; bottom: 0; left: 0; right: 0; z-index: 1;
        height: 20px;
        visibility: visible;
        background-image: linear-gradient(0deg, #fff, transparent);
    }
    .ui-selectmenu {
        height: 100%;
        display: flex;
        flex-direction: column;
        .ui-header {
            flex: 0 0 3.5em;
            background-color: $brand-green;
            color: #fff; text-align: center;
            height: 3.5em;
            h1 {
                display: inline-block;
                font-size: 1.3em;
                margin: 0 auto;
                padding: .5em 0; }
            .ui-btn {
                font-size: 1.4em;
                padding: .5em 0;
                top: 0;
            }
        }
        .ui-selectmenu-list {
            flex: 1 1 100%;
            overflow-y: scroll;
        }
        a { font-weight: 400; }
    }
}

.ui-listview {
    margin: 0;
    .ui-li-divider {
        font-size: 1.2em; font-weight: 100;
        padding: 1.8em 0 .1em;
        a { text-decoration: none; }
        &:first-child { padding-top: 0; }
    }
    > .ui-li-static { padding-left: 3px; padding-right: 3px; }
    .title {
        font-size: 1.5em; font-weight: 500;
    }
    .subtitle {
        color: $text-muted;
        margin-top: 2px;
    }

    .ui-content & { margin: 0; }

}

// исправить форматирование чекбоксов
.ui-btn.ui-checkbox-off,
.ui-btn.ui-checkbox-on {
    padding: .6em 1em .7em 2.5em;
    &:after { margin: -10px 13px; }
}

// обёртка для анимированой загрузки изображений
.image-loader {
    background-color: rgba(0, 0, 0, 0.01);
    background-image: url(../images/loader2.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 30%;
    img {
        display: block;
        visibility: hidden;
        width: 100% !important;
    }
}
div[role="main"] .image-loader img { width: 100% !important; }

    // nessesary for nonresizing tab content swiping
[data-role=nd2extTabs-container] { position: relative; }


// чтобы ширина псевдоэлемента :after (нижнее подчеркивание) не превышала род. элемент
.ui-input-text {
    position: relative;
}
// приведение к виду элемента textfield
.ui-input-search {
    padding-left: 0;
    &:after {
        background-image: none; // убрать значок лупы
        left: 0;
    }
}
// привести select data-native-menu: false к общему виду
.ui-select {
    a.ui-btn {
        padding: 0;
        height: 2.2em;
        color: $text-color; font-size: 14px; font-weight: 400; line-height: 2.2em; text-transform: none; text-align: left;
        &.ui-shadow { box-shadow: none; }
    }
    &:after {
        background-color: #cccccc;
        content: "";
        position: absolute;
        width: 100%; height: 1px;
        -webkit-transition: width 0.4s, height 0.4s, background 0.4s; -moz-transition: width 0.4s, height 0.4s, background 0.4s; -ms-transition: width 0.4s, height 0.4s, background 0.4s; -o-transition: width 0.4s, height 0.4s, background 0.4s; transition: width 0.4s, height 0.4s, background 0.4s;
    }
}
// привести native select к общему виду
.ui-select {
    div.ui-btn {
        padding: 0;
        height: 2.2em;
        color: $text-color; font-size: 14px; font-weight: 400; line-height: 2.2em; text-transform: none; text-align: left;
        &.ui-shadow { box-shadow: none; }
        &:hover { background: none; }
    }
}

.ui-slider {
    touch-action: none;
    height: 20px;
    .ui-slider-handle.ui-btn {
        background-color: #ededed;
        border: 1px solid #ddd;
    }
    .ui-slider-input {
        font-size: inherit; font-weight: 400;
        padding: 0;
    }
    .ui-slider-track {
        margin-top: 2px; margin-left: 45px;
    }
}

/* -------------------------------------------- Header (шапка) ------------------------------------------------------ */
.region_header.ui-header {
    .ui-title {
        margin: 0 72px;
        font-size: 1.7em; line-height: 1em; font-weight: 700; text-transform: uppercase;
        text-align: center;
        &.page-title-image {
            height: 1.9em;
            padding: .4em 0 0 0;
            .image-loader { height: 100%; }
            img {
                display: inline-block;
                height: 100%; }
        }
         a {
             color: #727271;
             text-decoration: none;
         }
    }
    & > .ui-btn {
        color: #727271!important; font-size: 2.3em; line-height: 1em;
        padding: .3em;
        width: 1em; height: 1em;
        top: .14em;
        &.ui-btn-left { left: .1em; }
        &.ui-btn-right { right: .1em; }
    }
}
/* -------------------------------------------- Заставка ------------------------------------------------------------ */
#_drupalgap_splash {
    height: 100%;
    .drupalgap_splash_content {
        height: 100%;
        width: 100%;
        //.logo {
        //    position: absolute; left: 50%; top: 10vh;
        //    width: 17em; margin-left: -8.5em;
        //    width: 20vh; margin-left: -10vh;
        //    z-index: 10000000;
        //    img { max-width: 100%; }
        //}
        picture {
            display: flex;
            width: 100%; height: 100%;
            align-items: center;
            justify-content: center;
            img {
                min-width: 100%;
                min-height: 100%;
                flex-shrink: 0;
            }

        }
    }
}

/* ------------------------------------------- ajax loader ---------------------------------------------------------- */
.ui-loader-default {
    opacity: 1;
    width: 6em; height: 6em;
    margin-left: -3em; margin-top: -3em;
    width: 14vh; height: 16vh;
    margin-left: -7vh; margin-top: -8vh;
}
.ui-loader {
    .ui-icon-loading {
        background: url(../images/loader.svg); background-size: cover; background-position: center;
        border-radius: 0;
        width: 6em; height: 6em;
        border-radius: 0;
        width: 14vh; height: 16vh;
    }
    &.ui-loader-verbose {
        background-color: rgba(0,0,0,0.6);
        border-radius: 10px;
        opacity: 1;
        .ui-icon-loading { opacity: 1; }
        h1 {
            color: #fff;
            text-shadow: none;
        }
    }
}

/* -------------------------------------------- Домашняя страница --------------------------------------------------- */
#homepage,
#catalog {
    &.ui-page-active { display: flex; }
    align-items: center;
    justify-content: center;
    //height: 100%;
    .ui-content { width: 100%; }
    .router {
        text-align: center;
        padding-bottom: 10rem;
        @media (orientation: landscape) {
            padding-bottom: 7rem;
        }
        .logo {
            margin: 0.5em auto 0; margin: 3vh auto 1vh;
            width: 7em;
            @media (min-width: $screen-sm-min) {
                margin: 5em auto 2em;
                width: 10em;
            }
        }
        .route {
            margin: 2em auto 0;
            position: relative;
            a {
                color: $text-color; font-size: 1.5em; line-height: 1.1; text-decoration: none;
                display: block;
                margin: 0 auto;
                .icon {
                    position: relative;
                    max-width: 5em;
                    margin: 0 auto;
                    @media (min-width: $screen-md-min) and (orientation: portrait){ max-width: 7em; }
                }
                div.waves-effect {
                    border-radius: 3em;
                    img { display: block; }
                }
            }
            @media (min-width: $screen-md-min) and (orientation: portrait) { margin-top: 4em; }
        }
        .r-title {
            margin-top: 10px;
            position: relative;
            @media (min-width: $screen-sm-min) and (orientation: portrait) { font-size: 1.2em; }
        }
    }
    .footer {
        background: #fff;
        border-top: 1px solid #eee;
        position: fixed; bottom: 0; left: 0; right: 0;
        .row {
            justify-content: center;
            a { display: block; }
            .icon {
                position: relative;
                max-width: 4em;
                margin: 0 auto;
            }
            div.waves-effect {
                border-radius: 2em;
                padding: .5em;
            }
        }
    }
    .overlay.active {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 2000;
    }
    .pr-balloon {
        display: none;
        position: absolute; z-index: 2;
        max-height: initial; max-width: initial;
        width: 25rem!important;
        &.b1    { top: 4rem; left: -5rem; }
        &.b2    { top: 3rem; right: -6.5rem; }

        &.b3    { bottom: -13rem; left: -1rem; }
        &.b4    { bottom: -14rem; right: -2rem; }
        &.b5    { top: -9rem; left: -5rem; }
        &.b5_1  { bottom: -13rem; right: -6rem; }
        &.b6    { top: -8.5rem; right: -3rem; }
        &.b6_1  { top: -8.5rem; left: -3rem; }
        &.b7    { top: -8rem; left: -5rem; }
        &.b8    { top: -8rem; right: -5rem; }

        &.b9    { top: -11rem; left: -7rem; }
        &.b10   { top: -10rem; left: -7rem; }
        &.b11   { top: -9.5rem; right: -11rem; }
    }
    .pr-actions {
        display: none;
        background-color: rgba(0, 0, 0, .2);
        position: absolute; bottom: 8rem; left: 0; right: 0; z-index: 2001;
        padding: 3rem;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        &.visible { opacity: 1; }
        &.raised {
            bottom: 16.5rem;
        }
        button {
            display: inline-block;
            width: auto;
            &:first-child { margin-right: 15px; }
        }
    }
    .processed { display: block; }
}
#homepage {
    .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 { flex-basis: 50%; max-width: 50%; }
    .processed.b5_1 { display: none; }
    .processed.b6_1 { display: none; }
    @media (orientation: landscape) and (max-width: 62em) {
        .router .route a .icon {
            max-width: 4em;
        }
    }
    @media (orientation: landscape) {
        .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 { flex-basis: 33.333%; max-width: 33.333%; }
        .processed.b5 { display: none; }
        .processed.b6 { display: none; }
        .processed.b5_1 { display: block; }
        .processed.b6_1 { display: block; }
    }
    @media (orientation: landscape) and (min-height: 62em) {
        .icon4 { margin-left: 16.667%; }
        .icon6 { flex-basis: 100%; max-width: 100%; }
    }

}
#catalog {
    .icon1, .icon2 { flex-basis: 100%; max-width: 100%; }
    @media (orientation: landscape), (min-width: 62em) {
        .icon1, .icon2 { flex-basis: 33.33%; max-width: 33.33%; }
        .icon1 { margin-left: 16.667%; }
    }
}

/* ------------------------------------------------- Animated Elements ----------------------------------------------- */
// пока исп только для всплывающих (.slide-up) текстовых подписей на экранах описания продуктов
[data-animate=true] {
    opacity: 0;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    &.slide-up { transform: translateY(40px); }
    &.slide-down { transform: translateY(-40px); }
    &.slide-left { transform: translateX(40px); }
    &.slide-right { transform: translateX(-40px); }
    &.visible {
        opacity: 1;
        transition-duration: 500ms;
        &.slide-up,
        &.slide-down { transform: translateY(0px); }
        &.slide-left,
        &.slide-right { transform: translateX(0px); }
    }
}

/* -------------------------------------------- Категории ----------------------------------------------------------- */
.category-item {
    color: #000; font-size: inherit; text-decoration: none;
    display: block;
    margin-bottom: 1em;
    a { font-size: inherit; }
    .box {
        display: flex;
        position: relative;
        justify-content: space-between;
        .icon {
            display: block;
            flex: 0 0 8em;
            > .image-loader {
                margin-right: 15px;
                -webkit-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;
            }
        }
        .text {
            flex: 1 1 110px;
            display: flex;
            align-items: center;
            position: relative;
        }
        .cat-amount {
            background: #eee;
            display: flex;
            position: absolute; bottom: 0; left: 0; right: 0; top:0; z-index: 0;
            padding: 3em .5em .5em;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;
            div {
                flex: 1 1 50%;
                padding: 0 5px;
                &:first-child { flex: 1 1 35%; }
            }
            h5 {
                font-size: 1.2em;
                margin: 0 0 5px;
            }
            p { margin: 5px 0 0; }
        }
        .folder {
            flex: 0 0 2.5em;
            display: flex;
            color: $text-muted-2x;
            justify-content: center;
            i {
                align-self: center;
                margin: 0;
            }
        }
    }
    .title {
        font-size: 1.6em; line-height: 1.2; white-space: normal;
        position: absolute; top: 50%; right: 0; left: 0; z-index: 1;
        transform: translateY(-50%);
        padding: .2em;
        -webkit-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;
    }
    .bkg-category { background-color: #aaa; }

    &.is-active {
        .icon .image-loader { -webkit-transform: rotate(-360deg); -ms-transform: rotate(-360deg); -o-transform: rotate(-360deg); transform: rotate(-360deg); }
        .title {
            color: #fff; font-size: 1.3em;
            padding: .2em .6em;
            top: 0; transform: none;
        }
        .cat-amount { opacity: 1; }
    }
    &:not(.is-active) {
        .title.bkg-category { background-color: transparent; }
    }

    &.calculation-total {
        border-top: 1px solid #eee;
        padding-top: 2em;
        margin-top: 1em;
    }
    &.ui-icon-carat-r:after { display: none; }
}


.category-15    { .clr-category { color: $brand-herbicides; }}
.category-17    { .clr-category { color: $brand-insecticides; }}
.category-71534 { .clr-category { color: $brand-desiccants; }}
.category-16    { .clr-category { color: $brand-fungicides; }}
.category-71533 { .clr-category { color: $brand-disinfectants; }}
.category-72763 { .clr-category { color: $brand-surfactants; }}
.category-93    { .clr-category { color: $brand-fertilizers; }}
.category-72343 { .clr-category { color: $brand-mixes; }}

.category-15    { .bkg-category { background-color: $brand-herbicides; }}
.category-17    { .bkg-category { background-color: $brand-insecticides; }}
.category-71534 { .bkg-category { background-color: $brand-desiccants; }}
.category-16    { .bkg-category { background-color: $brand-fungicides; }}
.category-71533 { .bkg-category { background-color: $brand-disinfectants; }}
.category-72763 { .bkg-category { background-color: $brand-surfactants; }}
.category-93    { .bkg-category { background-color: $brand-fertilizers; }}
.category-72343 { .bkg-category { background-color: $brand-mixes; }}


/* -------------------------------------------- Каталог ------------------------------------------------------------- */
.product-item {
    color: #000; text-decoration: none;
    display: block;
    position: relative;
    width: 100%;
    &.ui-btn { margin-bottom: .5em; }
    .box {
        display: flex;
        min-height: 80px;
        margin-bottom: 1em;
        .image {
            flex: 0 0 8.3em;
            margin-top: -28px; margin-left: -10px;
            position: relative;
            height: 8.3em;
            > div:nth-child(2) {
                position: absolute; bottom: -1.2em;
                right: -.5em;
                width: 5em;
            };
        }
        .text {
            flex: 1 1 200px;
            display: flex; flex-wrap: wrap; align-content: flex-start;
            white-space: normal;
            font-size: .92em; line-height: 1.1em;
            padding-left: .5em;
            .ingredients {
                flex: 1 1 100%;
                color: $text-muted; font-size: .9em;
                margin-bottom: 10px;
            }
            .period {
                flex: auto;
                margin-bottom: 10px;
                span {
                    color: $text-muted;
                    display: inline-block;
                    width: 1.5em; }
            }
            .hobjects {
                flex: 1 1 100%;
                margin-bottom: 10px;
            }
            .rate {
                flex: 1 1 50%;
                margin-bottom: 10px;
                #solution_page & { flex-basis: 100%; }
            }
        }
        .icon {
            flex: 0 0 5em;
            padding-left: 5px;
        }
    }
    .title {
        font-size: 1.5em;
        padding: .6em 0 .3em 0;
        margin-left: 5.4em;
        a { color: inherit; text-decoration: none; }
        // calculation flip switch
        .ui-slider {
            position: absolute; right: 0; top: 4px;
        }
        &.has-switch { padding-right: 75px; }

    }
    &.ui-icon-carat-r:after { display: none; }
}
.ui-page-theme-a a.product-item,
.ui-page-theme-a a.category-item { color: #000; }

//div[id="fert_products"] {
//    .title {
//        color: $brand-green;
//        span { color: #000; }
//    }
//}


/* -------------------------------------------- Общее для нод ------------------------------------------------------- */
//.node-view .product .p-title,
.node-view {
    img { display: block; }
    .image-info {
        background: #f0f0f0;
        padding: .7em;
        .period { text-align: right; }
    }
}
.content-header {
    margin-bottom: 2em;
    h2 {
        font-weight: 700;
        margin: 0 0 15px 0;
    }
    h3 { margin-top: 0; }
    h4 {
        color: $text-muted;
        margin: .5em 0 0;
    }
}

/* -------------------------------------------- Препарат ------------------------------------------------------------ */
.product {
    .p-price {
        background: #fff; border-radius: 4px;
        font-size: 1.3em; font-weight: 700; text-align: center;
        margin: 0 8px 0 8px; padding: .2em .5em;
    }
    .p-brief {
        background-color: #eee;
        font-size: .8em;
        padding: 1em;
        .row {
            margin-bottom: .5em;
            div:first-child:not(.p-price) { text-align: right; }
        }
        @media (min-width: $screen-sm-min) {
            font-size: 1em;
            .row { margin-bottom: .8em; }
        }
    }
    .tabs-wrapper {
        padding-top: 2em;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute; top: 2em; right: 0; z-index: 1;
            width: 30px; height: 27px;
            visibility: visible;
            background-image: linear-gradient(-90deg, #fff, transparent);
        }
        .nd2Tabs {
            font-size: 1.4em; line-height: 1.8em;
            margin: 0; padding: 0 .5rem;
            width: 100%; height: 1.8em;
            li {
                color: #000;font-size: inherit; font-weight: 700; line-height: inherit;
                padding: 0;
                &:not(:first-child) {
                    margin-left: 1em;
                }
                &.nd2Tabs-active {
                    color: inherit;
                    &:after { display: none; }
                }
            }
        }
        .tabs-content {
            padding-top: 0;
            width: 100%;
            .nd2tab { min-height: 150px; }
            .file-card.card-media-right.card-media-small {
                .card-title {
                    padding: 1em;
                    .card-primary-title {
                        white-space: normal;
                        margin-right: 50px;
                    }
                    .card-subtitle { font-size: 12px; }
                }
                .card-media { width: 40px; height: 40px; }
                .card-action { padding: 8px 1em 1em; }
            }
            p {
                text-align: justify;
                //&:last-child { margin-bottom: 0; }
            }

            // у таблиц убрать выбор колонок
            .ui-table-columntoggle-btn { display: none; }
        }
    }
}

/* -------------------------------------------- Препараты в поле (список) ------------------------------------------- */
#atfield {
    .nd2-card {
        .footer {
            padding: 11px 8px 5px 8px;
        }
    }
}

/* -------------------------------------------- Препараты в поле ---------------------------------------------------- */
.atfield {
    .atf-header {
        margin-bottom: 1em;
        h2 {
            color: $brand-green; font-weight: 700;
            margin: 0;
        }
        h4 {
            margin: 0 0 .2em 0;
            span { white-space: nowrap; }
        }
        h5 {
            color: $text-muted; font-size: $font-size-text;
            margin: 0;
        }
        .atf-author {
            position: relative;
            margin: 1.5em 0;
            .atf-photo {
                img { border-radius: 25px; }
                position: absolute; left: 0; top: 0;
                width: 50px; height: 50px;
            }
            .atf-text {
                margin-left: 70px;
                min-height: 55px;
                h4 { margin: 0 0 .2em 0; }
                h5 {
                    color: $text-muted; font-size: $font-size-text;
                    margin: 0;
                }
            }

        }
    }
    .ui-collapsible h4 a {
        text-transform: uppercase;
        &.ui-btn {
            background: $brand-green;
            border-radius: 0;
            color: #fff;
            margin-bottom: 5px;
        }
    }
    .empty {
        color: #aaa; font-size: 1.5em; font-weight: 100;
        margin: 1.5em 0 1em 2em;
    }
    img {
        display: block;
        margin: 0 auto;
    }
    .atf-title {
        color: $brand-green; font-size: 1.2em;
        margin: 1em 0 1em;
    }
    .atf-comment {
        margin: 1em 0;
    }
    .atf-ho-title {
        font-size: .8em;
        margin: .5em 0;
        i {
            font-size: 16px;
            margin: 0 .3em .3em 0;
            float: left;
        }
        span { white-space: nowrap; }
    }
    .nd2Tabs {
        margin-left: 0;
        height: 2.3em;
        li {
            color: #333; line-height: initial;
            margin: 5px 1rem 5px 0;
            padding: 0 0 5px 0;
            div {
                line-height: 1.4em;
                &.r2 { color: $text-muted; font-size: $font-size-small; font-weight: 100; text-transform: none; }
            }
        }
    }
    .processings .nd2Tabs {
        height: 4.3em;
        li {
            font-weight: 400;
        }
    }
    .atf-info {
        dt {
            color: $brand-green; font-weight: 100;
            float: left;
            min-width: 0; width: 50%;
        }
        @supports (display: grid) {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: repeat(auto-fit, 20px);
            dd { margin: 0 0 0 1em; }
            dt { float: none; width: initial; }
        }
    }
    .atf-preparation {
        flex: 1 1 200px;
        text-align: center;
        span { color: $text-muted; font-size: 10px; }
        .atf-prep-images {
            display: flex;
            margin: 2em auto;
            img { box-shadow: none; }
            .atf-prep { flex: 1 0 60%; }
            .atf-prep2 { flex: 1 0 40%; align-self: flex-end; }
        }
    }

}
/* -------------------------------------------- Афиша (список) ------------------------------------------------------ */
#agenda {
    .card-supporting-text{
        color: #fff; font-size: 1.1em;
    }
}

/* -------------------------------------------- Агропомощь (agrohelp) ----------------------------------------------- */
#agrohelp {
    h3 {
        margin-top: 0;
    }
}


/* -------------------------------------------- Системы защиты ------------------------------------------------------ */
.protection-view {
    position: relative;
    h2 {
        color: $brand-green;
        & > span {
            font-weight: 100; letter-spacing: -2px;
            span { white-space: nowrap; }
        }
    }
    .btn-download { position: absolute; right: 0; top: 0; }
    .select-all {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        div:first-child {
            flex: auto;
            text-align: right;
            padding: 12px 10px;
        }
    }
    .product-item {
        .box .text {
            font-size: 1em;
        }
        p.description {
            text-align: left;
            padding: 0 10px 0 95px;
            span {
                white-space: nowrap;
            }
            .period,
            .hobjects,
            .rate {
                text-shadow: none;
                display: inline-block;
                margin: 5px 0 4px;
                padding: 2px 5px;
            }
            .period {
                color: $brand-fertilizers;
                border: 1px solid $brand-fertilizers;
            }
            .hobjects {
                color: $brand-desiccants;
                border: 1px solid $brand-desiccants
            }
            .rate {
                color: $brand-insecticides;
                border: 1px solid $brand-insecticides;
            }
        }
        .calculation {
            display: flex; justify-content: space-between;
            margin-top: -2em; margin-bottom: 1em;
            .calc-wrapper {
                flex: 1 1 50%;
                position: relative;
                height: 42px;
                overflow: hidden;
                .amountByItem {
                    position: absolute; top: -10em; left: 5px;
                    transition: top 300ms ease-in-out;
                    &.is-active { top: 10px; }
                }
            }

        }
    }
    .calculation-send {
        margin-top: 2em;
        h4 {
            background-color: $brand-desiccants;
            color: #fff;
            margin: 0; padding: 5px;
        }
        .box {
            background: #eee;
            font-size: 12px;
            padding: 8px 5px;
        }
    }
}
/* -------------------------------------------- Найти решение ------------------------------------------------------- */
#solution_form {
    h5 { margin: 1em 0; }
    h3.hobjects,
    .field-name-phase,
    .field-name-area,
    .field-name-seeding,
    .field-name-dummy,
    .field-name-weeds,
    .field-name-pests,
    .field-name-diseases,
    .field-name-desiccants,
    .field-name-fertilizers,
    .field-name-submit { display: none; }
    .field-name-desiccants,
    .field-name-fertilizers {
        margin-bottom: 0;
        .ui-checkbox { margin: 0; }
    }
    .field-name-submit { margin-top: 1em; }

}

/* -------------------------------------------- Представители ------------------------------------------------------- */
#representatives {
    .representatives-filter-form {
        margin-bottom: 2em;
        h3 { margin-top: 15px; }
    }
    .nd2-card {
        &.card-media-right .card-title .card-primary-title,
        &.card-media-right .card-title .card-subtitle {
            margin-right: 100px;
        }
        .card-supporting-text {
            font-size: $font-size-text;
            white-space: normal;
        }
        .card-action {
            a { font-size: .8em; }
            a:not(:last-child) { margin-bottom: .5em; }
        }
    }
}


/* -------------------------------------------- Агропомощь ---------------------------------------------------------- */
.field-name-field-image {
    display: inline-block;
    img {
        background-color: #ddd;
        border-radius: 40px;
        display: block!important;
        float: left;
        height: 80px;
        margin-right: 1.5em;
    }
    div[role="main"] & img { width: 80px!important;  }
    div {
        display: inline-block;
        margin-top: 1em;
        a {
            float: left;
            margin-right: 1em;
            &:last-child { margin-right: 0; }
        }
    }
}

/* -------------------------------------------- Справочники --------------------------------------------------------- */
.handbook {
    .dg_empty_list_header {
        margin-bottom: .5em;
    }
}

/* -------------------------------------------- Опросы -------------------------------------------------------------- */
.webform {
    > .form-item {
        margin-bottom: 5em;
        > label {
            strong { font-weight: 700; }
        }
    }
    > [class*=-own].form-item {
        margin-top: -4em;
        label { display: none; }
    }
    [class*=field-name-page] { display: none; }
    .ui-controlgroup-controls {
        .ui-radio {
            float: none;
            margin-top: 1.5em;
        }
    }
}


/* -------------------------------------------- Разное -------------------------------------------------------------- */
[class*=hidden-xs] {
    @media (max-width: $screen-sm-min - 1) { display: none!important; }
}
[class*=hidden-sm] {
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) { display: none!important; }
}
[class*=hidden-md] {
    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) { display: none!important; }
}
[class*=hidden-lg] {
    @media (min-width: $screen-lg-min) { display: none!important; }
}

.text-muted {
    color: $text-muted;
}

.fz152-notice {
    color: $text-muted; font-size: $font-size-small;
    margin: 1em 0;
}

/* патч, чтобы класс иконок можно было присваивать тегу <a> без вложенных тегов */
.zmdi {
    font-family: 'Material-Design-Iconic-Font'!important;
}

// карточки тизеров
.nd2-card {
    margin: 0 auto;
    max-width: none;
    .card-title {
        h3.card-primary-title {
            font-size: $font-size-h3; line-height: 1;
            white-space: normal;
        }
        h4.card-primary-title {
            font-size: $font-size-h4; line-height: 1.2;
            a { color: inherit; text-decoration: none; }
        }
        h5.card-subtitle {
            color: $text-muted; font-size: $font-size-text; line-height: 1.2; white-space: normal;
            margin-top: 5px;
        }
    }
    .card-supporting-text {
        font-size: $font-size-text; white-space: normal;
        h3 { font-size: $font-size-h3; }
        h4 { font-size: $font-size-h4; }
        a { text-decoration: none; }
    }
    .card-action {
        .icon { margin: 1em 1em .5em; }
        .title {
            color: $text-muted; font-size: $font-size-small; text-align: center;
            margin-bottom: .5em;
        }
    }
}

